@font-face {
    font-family: 'ITC Usherwood';
    font-weight: 900;
    src: url('/home/sasha/.fonts/ITC Usherwood/UsherwoodStd-Black.otf');
}

@font-face {
    font-family: 'ITC Usherwood';
    font-weight: 700;
    src: url('/home/sasha/.fonts/ITC Usherwood/UsherwoodStd-Bold.otf');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 400;
    src: url('/home/sasha/.fonts/Avenir/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 700;
    src: url('/home/sasha/.fonts/Avenir/Avenir-Heavy.ttf');
}
@font-face {
    font-family: 'Avenir';
    font-weight: 700;
    font-style: italic;
    src: url('/home/sasha/.fonts/Avenir/Avenir-HeavyOblique.ttf');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 900;
    src: url('/home/sasha/.fonts/Avenir/Avenir-Black.ttf');
}
@font-face {
    font-family: 'Avenir';
    font-weight: 900;
    font-style: italic;
    src: url('/home/sasha/.fonts/Avenir/Avenir-BlackOblique.ttf');
}

html, body {
    height: 100%
}

body {
    font-family: 'Avenir' !important;
    font-size: 1rem !important;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 140px;
    width: 900px;

    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, 0));
}

#header ul {
    display: inline-block;

    position: absolute;
    top: -10px;
    left: 104px;
    
    padding: 0;

    color: black;
}

#header li {
    display: inline-block;

    padding-right: 30px;

    color: white;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 1px 1px #ffb6c1;

    mix-blend-mode: difference;
    
}

#header img {
    height: 920px;

    transform: rotate(90deg) translateY(-100%) translateX(63%) scaleX(-1);
    transform-origin: 0 0;
}

#body > div {
    position: relative;

    height: 100%;
    min-height: 1024px;
}

#meta {
    font-size: 14px;
}

#left {
    position: fixed;
    top: 150px;
    z-index: 2;
    
    min-width: 650px;
    max-height: 120px;
}

#left > span {
    font-family: 'ITC Usherwood';
    color: #ccc;
    display: block;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
}

#left span#title {
    position: absolute;
    font-size: 4rem;
    min-width: 100%;
    text-shadow: 1px 2px #ffb6c1;
}

#left span#sub {
    margin-left: 63px;
    margin-top: -20px;
}

#name {
    color: #000 !important;
}

#content {
    position: absolute;
    top: 87px;
    left: 104px;
    width: 568px;
    padding: 0 1rem 0 0;
    padding-bottom: 120px;
    height: 100%;
}

#right {
    position: absolute;
    top: 87px;
    left: 700px;
    width: 200px;
    margin-top: 2em;
    font-size: 14px;
    padding: 0 0.5rem;
    background-color: #eee;
    z-index: 1;
    text-align: center;
    max-height: 1024px;
    overflow: hidden;
}

#footer {
    border-top: 1px solid #ccc;
    height: 70px;
    padding-top: 0.5rem;
    padding-left: 104px;
    font-size: 16px;
}
