/*
 * base styles
 */

html {
    font-size: 14px;
    font-family: "AnkaCoderRegular" !important;
    background-color: #ffb5cb;
}

body {
    height: 100vh;
    position: relative;
    margin: 0;
    margin-left: 3rem;
    padding-left: 1rem;
    background-color: #ffffff !important;
}

#left, #main {
    float: left;
    clear: both;
}

#left {
    position: relative;
    border-bottom: 1px solid #ccc;
}

#main {
    max-width: 66ch;
}

/*
 * typesetting
 */

ul {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li::after {
    content: ' / ';
}

ul li:last-child::after {
    content: '';
}

#left h1 {
    margin-bottom: 0;
}

.seraph {
    color: #fff;
    position: absolute;
    left: -3rem;
    top: 1.5rem;
    font-size: 1.5rem;
}

#main {
    font-size: 1rem;
    line-height: 1.4rem;
}

#splash {
    text-align: right;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
